* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.topNav {
    display:flex;
    background-color: rgb(167, 165, 165);
    justify-content: center;
}

.listNav {
    display:flex;
    width: 100vw;
    justify-content: space-evenly;
    list-style-type: none;
    height: 4em;
    align-items: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

.informationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10em;
}

.name {
    width: 100vw;
    text-align: center;
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 2.3em;
}

.resume {
    width: 100vw;
    text-align: center;
    padding: 1em;
    font-size: 2em;
    text-decoration: none;
}

.socials {
    display:flex;
    justify-content: space-evenly;
    width: 100vw;
    padding: 1em;
}

.projectsContainer {
    display:flex;
    flex-direction: column;    
}

.project {
    max-width: 400px;
    width: 100vw;
    margin: 3em 0 3em 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.screenshot {
    max-width: 400px;
    width: 95vw;
    height: 400px; 
    background-color: burlywood;
}

.live {
    width: 95vw;
    padding: 0 1em;
    height: 2em;
    line-height: 2em;
    color:black;
}

.liveLink {
    float:right;
}

.code {
    width: 95vw;
    color:white;
    background-color: black;
    padding: 0 1em;
    height: 2em;
    line-height: 2em;
}

.gitLink {
    float:right;
}

.live:hover {
    background-color:yellow;
}

.live:visited:hover {
    background-color:yellow;
}

.code:hover,
code:visited:hover {
    background-color: yellow;
    color:black;
}

.projectName {

}